{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table">
            <h2>Аудитории</h2>
{#            <a href="{% url 'accounts:add_auditory' %}" class="btn btn-outline-primary  ml-5 mt-3">Добавить аудиторию</a>#}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Вместимость</th>
                    <th scope="col">Описание</th>
                    <th class="symbol" scope="col">Редактировать</th>
                    <th class="symbol" scope="col">Удалить</th>
                </tr>
            </thead>
            {% for auditory in auditories %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ auditory.name }}</td>
                        <td>{{ auditory.places }}</td>
                        <td>{{ auditory.description }}</td>
{#                        <td class="symbol"><a href="{% url 'accounts:change_auditory' auditory.pk %}">&#x270E;</a></td>#}
{#                        <td class="symbol"><a href="{%  url 'accounts:delete_auditory' auditory.pk %}">X</a></td>#}
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}