{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table">
            <h1>Аудитории</h1>
            <a href="{% url 'webapp:add_auditory' %}" class="btn btn-success  ml-5 my-3 hiddenbutton">+ Добавить аудиторию</a>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Вместимость</th>
                    <th scope="col">Описание</th>
                    <th class="symbol hiddenbutton" scope="col">Редактировать</th>
                    <th class="symbol hiddenbutton" scope="col">Удалить</th>
                </tr>
            </thead>
            {% for auditory in auditories %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ auditory.name }}</td>
                        <td>{{ auditory.places }}</td>
                        <td>{{ auditory.description }}</td>
                        <td class="symbol hiddenbutton"><a class="update" href="{% url 'webapp:change_auditory' auditory.pk %}">&#x270E;</a></td>
                        <td class="symbol hiddenbutton"><a class="delete" href="{%  url 'webapp:delete_auditory' auditory.pk %}"style="color: red">x</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}