{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url "accounts:user_search" %}">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        {% for field in form %}
            <p><label for="{{ field.id_for_label }}">{{ field.label }}</label>: {{ field }}</p>
            {% for error in field.errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <p><input type="submit" value="Search"></p>
    </form>
    <h1>Results</h1>
    {% if user %}
        {% if is_paginated %}
        {% endif %}
        {% include 'partial/user_list.html' %}
    {% else %}
        <p class="text-center">No results available. Try again later or with other search params.</p>
    {% endif %}
{% endblock %}
