{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url "accounts:user_search" %}">
    <div class="form-group">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        {% for field in form %}
            <div class="form-group">
            <label for="{{ field.id_for_label }}"></label>
                <div class="form-group" id="{{ field.label }}" aria-describedby="{{ field.label }}">{{ field.label }}: {{ field }}
            {% for error in field.errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <p><input type="submit" value="Search" class="btn btn-primary"></p>
    </div>
        </div>
    </form>

    <h3>Results</h3>
    {% if user %}
        {% if is_paginated %}
        {% endif %}
        {% include 'partial/user_list.html' %}
    {% else %}
        <p class="text-center">No results available. Try again later or with other search params.</p>
    {% endif %}
{% endblock %}
