{#<form method="post">#}
{#  {{ form }}#}
{##}
{#  {% for formset in inlines %}#}
{#    {{ formset }}#}
{#  {% endfor %}#}
{##}
{#  <input type="submit" value="Submit" />#}
{#</form>#}

{#{% extends 'base.html' %}#}
{% load widget_tweaks %}
{% block content %}
    <h1 class="text-center">Регистрация</h1>
    <form action="{% url 'accounts:create_all' %}" method="post">
    {% csrf_token %}
        {{ form }}
        {% for formset in inlines %}
            <div class="form-group">
                {% include 'partial/form_field.html' %}
            </div>
            {{ formset }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    </form>
{% endblock %}