{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url "accounts:detail" user_obj.pk %}">Назад</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "accounts:update" user_obj.pk %}">Редактирование личных данных</a></li>
{% endblock %}

{% block content %}
    <h1 class="text-center">Смена пароля</h1>
    <form action="{% url "accounts:password_change" user_obj.pk %}" method="post">
        {% include 'partial/form.html' %}
        <input type="submit" value="Сохранить" class="btn btn-primary">
    </form>
{% endblock %}