
{% extends 'base.html' %}
{% block menu %}

{% endblock %}
{% block content %}
   <h1>Пользователи</h1>
   <hr/>
{#    {% if is_paginated %}#}
{#        {% include 'partial/pagination.html' %}#}
{#    {% endif %}#}
{#    {% if perms.webapp.view_order %}#}
   {% for use in user %}
           <div class="card border-primary mb-3" style="max-width: 18rem; text-align: center">
  <div class="card-header"><h3>{{ use.first_name}}
  {{ use.pk }}</h3><a href="{% url 'accounts:detail' use.pk %}"> Details...</a></p>
      </h3><a href="{% url 'accounts:user_delete' use.pk %}"> Удалить</a></p>
      </h3><a href="{% url 'accounts:user_update' use.pk %}"> Редактировать</a></p>
{#    <h5 class="card-title">{{ todo.description }}</h5>#}
{#      <h5 class="card-title">Status: {{ todo.status }}</h5>#}
{#      <h5 class="card-title">Type: {{ todo.type }}</h5>#}
  </div>
</div>
        {% endfor %}
{% endblock %}