{% extends 'base.html' %}
{% block title %}Удалить пользователя{% endblock %}
{% block content %}
    <h3 class="text-center">Пользователь {{ user }} будет отмечен, что он уволен или отчислен</h3>
    Профиль:{{ user.profile.status }}
    <form class="text-center" action="{% url "accounts:user_delete" user.pk %}"
          method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="ОК" class="btn btn-danger">
        <a href="{% url 'webapp:index' %}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock %}