{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table">
            <h1>Роли</h1>
            {% if perms.webapp.add_role %}
                <a href="{% url 'accounts:role_add' %}" class="btn btn-outline-primary  ml-5 mt-3">Добавить роль</a>
            {% endif %}
            <thead>
                <tr>
                   <th scope="col">#</th>
                   <th scope="col">Название</th>
                   <th class="symbol" scope="col">Редактировать</th>
                   <th class="symbol" scope="col">Удалить</th>
                </tr>
            </thead>
            {% for role in roles %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ role.name }}</td>
                        {% if perms.webapp.change_role %}
                            <td class="symbol"><a class='update' href="{% url 'accounts:role_change' role.pk %}">&#x270E;</a></td>
                        {% endif %}
                        {% if perms.webapp.delete_role %}
                            <td class="symbol"><a class='delete' href="{%  url 'accounts:role_delete' role.pk %}">&times;</a></td>
                        {% endif %}
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}