{% extends 'base.html' %}
{% block menu %}
{% endblock %}
{% block carousel %}
    <div class="carousel">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active text-uppercase">
                    <img src="https://data.kaktus.media/image/big/2018-06-19_10-31-42_461991.jpg" class="d-block w-100"
                         alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Кыргыз Республикасынын эл аралык университетинин политехникалык колледжи</h3>
                        <h3>Политехнический колледж Международного университета Кыргызской Республики</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://pc.edu.kg/images/slider/КС2.jpg" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://pc.edu.kg/images/slider/ЭСС2.jpg" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="rstpl-all-content-position" id="rstpl-all-content-position" style="margin: 100px auto">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div id="rstpl-com_content" class="rstpl-content">
                        <main id="main">
                            <div class="item-page rstpl-article-container">
                                <div class="page-header">
                                    <h2 itemprop="name">Отделение связи </h2>
                                </div>
                                <div itemprop="articleBody">
                                    <p><span style="font-family: arial, helvetica, sans-serif; color: #000000;"><img style="float: right;" src="https://pc.edu.kg/images/svyaz.jpg" alt=""></span></p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp;Отделение связи было открыто на основании решения Госплана в июне 1957 года (№47 от 5 июня 1957 г.) в составе одной учебной группы численностью 30 человек по специальности <span
                                            style="color: #ff0000;">“Районная электросвязь и радиофикация”</span>. </span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">Первый выпуск учащихся состоялся в 1960 году. С 1960 г. начался прием учащихся по специальности <span
                                            style="color: #ff0000;">“Почтовая связь”</span>, первый выпуск составил 15 человек. С 1974 года велся прием учащихся по специальности <span
                                            style="color: #ff0000;">“Многоканальная электросвязь” и “Автоматическая электросвязь”</span>.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp; &nbsp;</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp; &nbsp;На отделении работают преподаватели, имеющие большой опыт по специальности и в педагогике: &nbsp;&nbsp;Кравченко Н.И.,&nbsp; &nbsp;Тохтабаев А.М.,&nbsp;Мухтарбеков Р.Ж<strong
                                            style="color: #5c5c5c;">.</strong> Черномырдина Н.Ф., Хан Н.Д, Парфилкина Л.А. Заведует отделением Сманалиева Б.К..</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp; &nbsp;Многие выпускники, окончив техникум, в последующем закончили ВУЗы и работают на ответственных и руководящих должностях.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp; &nbsp;Наши студенты проходят стажировку (производственная практика) в ведущих компаниях, предоставляющих услуги в области телекоммуникации и программного обеспечения, таких как<span
                                            style="color: #ff0000;"> ОсОО "Акнет", ОАО «Кыргызтелеком», ОсОО&nbsp;&nbsp; «Beeline»,ЗАО « Мегаком»</span> и т.д.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp; &nbsp;После окончания теоритической части и сдачи квалифицированных государственных экзаменов, наши выпускники могут продолжить учёбу в высших учебных заведениях, родственных специальностей по ускоренному курсу обучения.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">Область профессиональной деятельности выпускников специальностей <span
                                            style="color: #ff0000;">«Сети связи и системы коммутации» и «Эксплуатация средств связи»</span> являются:</span>
                                    </p>
                                    <ul>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">телекоммуникационные системы и информационно-коммуникационные сети;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">методы и средства обеспечения их работоспособности;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">документация, технологии и технологические процессы эксплуатации телекоммуникационных систем и информационно-коммуникационных сетей связи;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">техническое обслуживание, эксплуатация, ремонт, наладка и испытания основного и вспомогательного электротехнического оборудования телефонных станций, подстанций, сетей и систем;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">устранять аварии и повреждения оборудования телекоммуникационных систем, выбирать методы восстановления его работоспособности;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">выполнять монтаж и обеспечивать работу линий абонентского доступа и оконечных абонентских устройств;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">решать технические задачи в области эксплуатации телекоммуникационных систем.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}