{% extends 'base.html' %}
{% block menu %}
{% endblock %}
{% block carousel %}
    <div class="carousel">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active text-uppercase" style="height: 500px">
                    <img src="https://data.kaktus.media/image/big/2018-06-19_10-31-42_461991.jpg" class="d-block w-100"
                         alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Кыргыз Республикасынын эл аралык университетинин политехникалык колледжи</h3>
                        <h3>Политехнический колледж Международного университета Кыргызской Республики</h3>
                    </div>
                </div>
                <div class="carousel-item" style="height: 500px">
                    <img src="https://pc.edu.kg/images/slider/КС2.jpg" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item" style="height: 500px">
                    <img src="https://pc.edu.kg/images/slider/ЭСС2.jpg" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="rstpl-all-content-position" id="rstpl-all-content-position" style="margin: 100px auto">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div id="rstpl-com_content" class="rstpl-content">
                        <main id="main">
                            <div class="item-page rstpl-article-container">
                                <div class="page-header">
                                    <h2 itemprop="name">Отделение КС и ПКС </h2>
                                </div>
                                <div itemprop="articleBody">
                                    <p><span style="font-family: arial, helvetica, sans-serif;">
                                        <span
                                            style="color: #000000;">&nbsp;<span style="font-size: 14pt;"> В 2012 году в Политехническом колледже МУКР было открыто отделение «Компьютерных сетей и программирования», на базе которого проводится обучение по двум специальностям: <span
                                            style="color: #ff0000;">«Компьютерные сети» и «Программирование в компьютерных системах»<span
                                            style="color: #000000;">.</span></span></span></span></span></p>
                                    <p><span style="color: #000000; font-family: arial, helvetica, sans-serif;"><span
                                            style="font-size: 14pt;"><span style="color: #ff0000;"><span
                                            style="color: #000000;"></span></span>В 2015 году состоялся первый выпуск по этим специальностям, выпускники получили квалификацию «<span
                                            style="color: #ff0000;">Техник по компьютерным сетям» и «Техник программист»</span>.</span></span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp;&nbsp;&nbsp; Наши студенты проходят стажировку (производственная практика) в ведущих компаниях, предоставляющих услуги в области телекоммуникации и программного обеспечения, таких как <span
                                            style="color: #ff0000;">ОсОО "Акнет", ОАО «Кыргызтелеком», ОсОО Megaline, ЗАО "Альфа Телеком"</span> и т.д.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp;&nbsp;&nbsp; После окончания теоритической части и сдачи квалифицированных государственных экзаменов, наши выпускники могут продолжить учёбу в высших учебных заведениях, родственных специальностях по ускоренному курсу обучения.</span>
                                    </p>
                                    <h3><span
                                            style="font-family: arial, helvetica, sans-serif; color: #000080;"><strong><span
                                            style="font-size: 14pt;">Область профессиональной деятельности выпускников:</span></strong></span>
                                    </h3>
                                    <h4><span
                                            style="font-family: arial, helvetica, sans-serif; color: #000080;"><strong><span
                                            style="font-size: 14pt;">Специальность «<a
                                            href="/component/content/?id=20&amp;Itemid=127" style="color: #000080;">Компьютерные сети</a>»</span></strong></span>
                                    </h4>
                                    <ul>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">сопровождение, настройка и администрирование системного и сетевого программного обеспечения;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">эксплуатация и обслуживание серверного и сетевого оборудования;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">диагностика и мониторинг работоспособности программно-технических средств;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">обеспечение целостности резервирования информации и информационной безопасности объектов сетевой инфраструктуры.</span>
                                        </li>
                                    </ul>
                                    <h4><span
                                            style="color: #000080; font-family: arial, helvetica, sans-serif;"><strong><span
                                            style="font-size: 14pt;">Специальность «<a href="/dokumentatsiya?id=21"
                                                                                       style="color: #000080;">Программирование в компьютерных системах</a>»</span></strong></span>
                                    </h4>
                                    <ul>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">работать техниками-программистами;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">создавать и обслуживать базы данных;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">работать системными администраторами в различных организациях;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">быть разработчиками web-сайтов;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">создавать программный продукт по разработанному алгоритму;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">выполнять отладку и тестирование программного продукта;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">оценивать эффективность созданного программного продукта;</span>
                                        </li>
                                        <li><span
                                                style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">осуществлять модификацию, адаптацию программных продуктов;</span>
                                        </li>
                                    </ul>
                            </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}