{% extends 'base.html' %}
{% block content %}
    <section class="rstpl-all-content-position" id="rstpl-all-content-position" style="margin: 100px auto">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div id="rstpl-com_content" class="rstpl-content">
                        <main id="main">
                            <div class="item-page rstpl-article-container">
                                <div class="page-header">
                                    <h2>Энергоотделение</h2>
                                </div>
                                <div itemprop="articleBody">
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;"> &nbsp; <img
                                            style="float: right;" src="https://pc.edu.kg/images/energo2.jpg" alt=""></span></p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">В 1961 году в Политехническом техникуме было открыто энергетическое отделение. В 1965 году состоялся первый выпуск техников-электриков по специальности 0301 <span
                                            style="color: #ff0000;">“Электрическое оборудование промышленных предприятий и установок”</span>.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp;&nbsp;В 1975 году введена специальность <span
                                            style="color: #ff0000;">“Электронно-вычислительные машины и устройства”</span>, в1981 году - специальность 0315 <span
                                            style="color: #ff0000;">”Строительство и монтаж линий электропередач”</span>.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp; В мае 1995 года Политехнический техникум по решению коллегии министерства образования и науки Кыргызской республики преобразован в Политехнический колледж Международного университета Кыргызской Республики с правом реализации первого уровня высшего образования и открыта новая специальность <span
                                            style="color: #ff0000;">“Управление энергетическими предприятиями”</span>.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp;&nbsp;Выпускники энергоотделения в настоящее время работают не только в республике, но и за ее пределами. Они занимают различные должности от техников-электриков до руководителей предприятий.</span>
                                    </p>
                                    <p><span
                                            style="font-size: 14pt; font-family: arial, helvetica, sans-serif; color: #000000;">&nbsp; &nbsp;&nbsp;Заведующими энергоотделения за все время существования были: Киселев С.Л, Кашиев И.А, Горохов И.Д, Тохлуков А.Т, Ходус В.М, Шойхет Р.Л, Токтоналиева Р.А, Исаева У.А, Степанченко Н.Л, а в настоящее время - Байгожоева Г.К.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp;&nbsp;Многие наши выпускники, окончившие техникум, в последствии вернулись работать в колледж: Степанченко Н.Л, Молдокматов Ч.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp;&nbsp;В настоящее время энергоотделение состоит из &nbsp;групп, в которых работают квалифицированные педагоги, имеющие большой опыт работы по специальности: Тохлуков А.Т, Степанченко Н.Л, Хасанов Р.А, Жусупова А. среди которых 3 отличника народного образования.</span>
                                    </p>
                                    <p><span
                                            style="font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #000000;">&nbsp; &nbsp;&nbsp;После окончания теоретической части&nbsp; и сдачи квалификационных государственных экзаменов наши выпускники могут продолжать учёбу в высших учебных заведениях на родственных специальностях по ускоренному курсу обучения.</span>
                                    </p>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}