{% extends 'base.html' %}
{% block menu %}
{% endblock %}
{% block carousel %}
    <div class="carousel">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active text-uppercase">
                    <img src="https://data.kaktus.media/image/big/2018-06-19_10-31-42_461991.jpg" class="d-block w-100"
                         alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Кыргыз Республикасынын эл аралык университетинин политехникалык колледжи</h3>
                        <h3>Политехнический колледж Международного университета Кыргызской Республики</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://www.iuk.kg/Files/uploads/other/_home_iuk_centr-kampus-2019-1.jpg"
                         class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Кыргыз Республикасынын эл аралык университетинин политехникалык колледжи</h3>
                        <h3>Политехнический колледж Международного университета Кыргызской Республики</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://data.kaktus.media/image/big/2019-04-16_13-51-39_430241.jpg" class="d-block w-100"
                         alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Кыргыз Республикасынын эл аралык университетинин политехникалык колледжи</h3>
                        <h3>Политехнический колледж Международного университета Кыргызской Республики</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="main-text">
        <p>Сохраняя вековую традицию, подготовить конкурентоспособных специалистов, соответствующих международным
            стандартам качества, востребованных на рынке труда и отвечающих потребностям общества.</p>        </p>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header" style="background: none; border: none">
                <div class=" row header-inner">
                    <div class="col-3" style="text-align: end">
                        <img class="label-img" src="{{ 'static/css/label.jpg' }}" alt="label">
                    </div>
                    <div class="col-9" style="text-align: center; padding-top: 7px">
                        <b>Политехнический колледж Международного университета Кыргызской Республики</b>
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <b>Отделение связи</b>
                <a href="{% url 'webapp:department1' %}">
                    <img class="card-img" src="https://www.pc.edu.kg/images/1.jpg" alt="image">
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">Телефонный разговор находится на полпути между исскуством и жизнью</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'webapp:department1' %}" class="btn">Смотреть</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background: none; border: none">
                <div class=" row header-inner">
                    <div class="col-3" style="text-align: end">
                        <img class="label-img" src="{{ 'static/css/label.jpg' }}" alt="label">
                    </div>
                    <div class="col-9" style="text-align: center; padding-top: 7px">
                        <b>Политехнический колледж Международного университета Кыргызской Республики</b>
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <b>Энергоотделение</b>
                <a href="{% url 'webapp:department2' %}">
                    <img class="card-img" src="https://www.pc.edu.kg/images/energo.png" alt="image">
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">Мы сделаем электричество таким дешевым, что жечь свечи будут только богачи</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'webapp:department2' %}" class="btn">Смотреть</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background: none; border: none">
                <div class=" row header-inner">
                    <div class="col-3" style="text-align: end">
                        <img class="label-img" src="{{ 'static/css/label.jpg' }}" alt="label">
                    </div>
                    <div class="col-9" style="text-align: center; padding-top: 7px">
                        <b>Политехнический колледж Международного университета Кыргызской Республики</b>
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <b>Компьютерные сети и программирование</b>
                <a href="{% url 'webapp:department3' %}">
                    <img class="card-img" src="https://www.pc.edu.kg/images/KS.png" alt="image">
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">Большинство хороших программистов делают свою работу потому что получают
                    удовольствие от программирования</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'webapp:department3' %}" class="btn">Смотреть</a>
            </div>
        </div>
    </div>
    <div class="content_inner row">
        <div class="content_item">
            <h4>Новости</h4>
            <div class="news">
                <div class="row">
                    <a class="col-4" href="#">
                        <img src="https://www.pc.edu.kg/images/1.jpg" class="img-thumbnail" alt="...">
                    </a>
                    <div class="news_body col-8">
                        <a class="title" href="#" style="display: block">Заголовок</a>
                        <time><i class="fa fa-calendar-alt" aria-hidden="true"> Дата</i></time>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor eaque fugit iure non
                            veritatis voluptates. Animi asperiores dignissimos doloremque doloribus dolorum, eaque esse
                            in ipsam itaque minima obcaecati provident quibusdam recusandae reiciendis rem repellendus
                            saepe sed temporibus? Aliquid deserunt esse incidunt necessitatibus quidem, quod sunt.
                            Aliquam dolores earum, est illo incidunt labore laudantium mollitia omnis vel voluptatibus.
                            Adipisci animi architecto aut beatae consectetur consequuntur doloremque dolores eum fuga
                            maiores minima nihil placeat, quaerat quas sapiente suscipit tempora vel vero vitae
                            voluptatibus. A asperiores aut consequuntur deleniti dignissimos fugiat itaque iure maxime
                            nemo nihil nulla pariatur perferendis quidem reprehenderit, similique soluta ut veritatis
                            vitae voluptates voluptatum? Accusamus aliquid amet aut, cum dignissimos, distinctio dolorum
                            enim et ex explicabo illo, laudantium nam nemo non nulla omnis possimus praesentium ratione
                            rem tempore temporibus veniam voluptatem. Aliquam autem blanditiis cumque et impedit iure,
                            magnam saepe tenetur. Aliquid commodi est expedita ipsa nobis rerum!
                            <br>
                            <a href="#">читать полностью</a>
                        </p>
                    </div>
                </div>
                <div class="right"><a href="#"> Смотреть все новости... </a></div>
            </div>
        </div>
        <div class="content_item">
            <h4>Объявления</h4>
            <div class="news">
                {%  for announcement in announcements %}
                    <div class="row">
                        <a class="col-4" href="#">
                            <img src="{{ announcement.photo.url }}" class="img-thumbnail" alt="{{ announcement.title }}">
                        </a>
                        <div class="news_body col-8">
                            <a class="title" href="{% url 'webapp:announce_detail' announcement.pk %}" style="display: block">{{ announcement.title }}</a>
                            <time><i class="fa fa-calendar-alt" aria-hidden="true">{{ announcement.created_at }}</i></time>
                            <p class="news_index"> {{ news.text }}</p>
                            <a href="{%  url 'webapp:announce_detail' announcement.pk %}" style="color: red">читать полностью</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="right"><a href="#"> Смотреть все объвления... </a></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="address_wrap row">
        <div class="col-sm-4">
            <p>Кыргызская Республика, 720007,<br>г. Бишкек, ул. Л. Толстого, 17А/1</p>
            <p>ОКПО 29763954<br>ИНН 02612201610272</p>
        </div>
        <div class="col-sm-4">
            <p>Кыргыз Республикасы, 720007,<br>Бишкек шаары, Л.Толстой көчөсү, 17А/1</p>
            <p>Тел.: +996 (312) 64-23-37, 64-11-56<br>Факс: +996 (312) 64-23-28</p>
        </div>
        <div class="col-sm-4">
            <p>The Kyrgyz Republic, 720007,<br>Bishkek, 17A/1, St. Tolstoy</p>
            <p>E-mail: consortium.iuk@gmail.com<br>Web-сайт: www.iuk.kg</p>
        </div>
    </div>
{% endblock %}