{% extends 'base.html' %}

{% block content %}
    <h1>Новости</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr/>
    {%  for news in news_list %}
      <div class="row">
        <div class="col-3 m-2">
            <img src="{{ news.photo.url }}" class="card-img-top" alt="{{ news.title }}">
        </div>
        <div class="col-8">
          <div class="news-list">
            <h5 class="news-title">{{ news.title }}</h5>
            <p class="news-text" style=>{{ news.text }}</p>
          </div>
            <a href="{% url 'webapp:new_detail' news.pk %}" class="link mb-2" style="color:red">Читать полностью</a>
        </div>
      </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}