{% extends "base.html" %}
{% block title %}Удалить новость{% endblock %}

{% block content %}
    <h1 class="question text-center">Вы действительно хотите удалить новость
        <br>
        <b>{{ news.title}}</b>?</h1>
    <form method="POST" action="{% url "webapp:news_delete" news.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Да, удалить!" class="btn btn-outline-dark"></p>
        <p><a href="{% url 'webapp:news' %}" class="btn btn-outline-dark">Нет. выйти!</a></p>
    </form>
{% endblock %}