{% extends 'base.html' %}

{% block title %}
    Дневник
{% endblock %}

{% block content %}

    {% regroup profiles by date|date:"d.m.Y"  as profile_list %}
    <div class="container">
        <h2 class="text-center mt-5 mb-5" style="color: darkslategray; font-weight: bold; font-size: 30px;">Успеваемость студента: {{ student.first_name}}  {{ student.last_name}} </h2>
 {% include 'partial/simple_search.html' %}
    {% for profile in profile_list%}
        <table class="table table-bordered mb-5 pb-4" style="font-size: 18px;">
            <thead class="thead-light" style="font-size: 18px; font-weight: bolder">
                <tr>
                    <th>Дисциплина</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
                <p class="text-center" style="font-weight: bold; font-size: 18px; color:darkblue">{{ profile.grouper }}</p>
                {% for day in profile.list %}
                    <tr>
                        <td class="dis" style="width:800px">{{ day.discipline }}</td>
                        <td>{{ day.grade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {%  endfor %}
</div>
{% endblock %}

