body {
    color: #222222;
    font-family: Arial, sans-serif;
    margin-top: 60px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.navbar-my {
    display: block;
    background: #6a7dff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.menu a:hover {
    color: darkblue;
    text-decoration: underline;
}

.menu-right{
    float: right;
}
