body {
    color: #222222;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

.navbar-my {
    display: block;
    background: rgb(66 66 66);
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 20px 0px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.menu a:hover {
    color: darkblue;
    text-decoration: underline;
}

.menu-right{
    float: right;
}
.d-block{
    height: 700px;
}
.main-text{
    padding: 100px 50px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: rgb(33 33 33);
}
.card{
    border: solid 0.5px; rgb(66 66 66);
    border-radius: 0;
}
.label-img{
    width: 55px;
    height: 60px;
    padding-top: 7px;
}
.card-text{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    padding: 30px;
}
.card-footer{
    background: none;
    border: none;
    text-align: center;
}
.carousel-caption{
    text-transform: uppercase;
    font: 300 3rem/6.25rem "Roboto", sans-serif, arial, helvetica;
    padding-bottom: 50px;
}
.main-logo{
    display: flex;
    vertical-align: top;
    align-items: start;

}
.news{
    margin-top: 50px;
}
.address_wrap{
    text-align: center;
    background-color: rgb(66 66 66);
    color: white;
    padding: 50px;
}
