{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table">
            <h2>Оценки</h2>
            <a href="{% url 'webapp:add_grade' %}" class="btn btn-outline-primary  ml-5 mt-3">Добавить оценку</a>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Значение</th>
                    <th scope="col">Описание</th>
                    <th class="symbol" scope="col">Редактировать</th>
                    <th class="symbol" scope="col">Удалить</th>
                </tr>
            </thead>
            {% for grade in grades %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ grade.value }}</td>
                        <td>{{ grade.description }}</td>
                        <td class="symbol"><a href="{% url 'webapp:change_grade' grade.pk %}">&#x270E;</a></td>
                        <td class="symbol"><a href="{%  url 'webapp:delete_grade' grade.pk %}">X</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}