{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table">
            <h1>Статусы преподавателей, студентов и персонала</h1>
            {% if perms.accounts.add_status %}
                <a href="{% url 'accounts:add_status' %}" class="btn btn-success  ml-5 my-3 hiddenbutton">+ Добавить
                    статус</a>
            {% endif %}
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th class="symbol" scope="col">Редактировать</th>
                <th class="symbol" scope="col">Удалить</th>
            </tr>
            </thead>
            {% for status in statuses %}
                <tbody>
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ status.name }}</td>
                    {% if perms.accounts.change_status %}
                        <td class="symbol"><a class='update hiddenbutton'
                                              href="{% url 'accounts:change_status' status.pk %}">&#x270E;</a></td>
                    {% endif %}
                    {% if perms.accounts.delete_status %}
                        <td class="symbol"><a class='delete hiddenbutton'
                                              href="{% url 'accounts:delete_status' status.pk %}" style="color: red">&times;</a>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}


