{% extends 'base.html' %}
{% block content %}
    <div class="table-responsive-lg">
        <table class="table table-bordered schedule" style="font-size: 13px">
            <h1>Журнал группы {{ journal.study_group.name }} по дисциплине - {{ journal.discipline.name }}</h1>
            <h4>Преподаватель: {{ journal.discipline.teacher.get }}</h4>
            <div class="row">

                <form action="{% url 'webapp:add_journalnote' journal.pk %}" method="POST" id="add_lesson">
                    <div class="col-9">{% include 'partial/form.html' %}</div>
                    <div class="col-3"><a class="text-center"><input type="submit" value="+ Добавить занятие"
                                                                     class="btn btn-success ml-5 my-5"></a></div>
                </form>
            </div>
            <thead>
            <tr>
                <th scope="col" class="schedule-days" style='width: 15%'>Студенты</th>
                {% for journalnote in journalnotes %}
                    <th scope="col" class="journal-dates" data-toggle="tooltip" data-placement="top"
                        title='Запись создал(а)-{{ journalnote.created_by }}
{{ journalnote.theme }}'>{{ journalnote.date }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for student in journal.study_group.students.all|dictsort:'last_name' %}
                <tr>
                    <th scope="row">{{ student }}</th>
                    {% for journalnote in journalnotes %}
                        <td style="text-align: center">
                            {#                        {{ object }}#}
                            {#                        {% if not object %}#}
                            <!-- Button trigger modal -->
{#                            {% if journalnote.pk == obj %}#}
{#                                #}
{#                            {% endif %}#}
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#exampleModal" href="{% url 'webapp:add_student_grade'  student.pk %}"
                                    value="{{ journalnote.pk }}" style="background: transparent">+
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Поставить оценку или
                                                "нб"</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form id="gradeform" action="{% url 'webapp:add_student_grade' student.pk %}" method="post">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                {% for field in grade_form %}
                                                    <div class="row mt-5">
                                                        <p class="col-3"><label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label></p>
                                                        <p class="col-9 d-flex">{{ field }}</p>
                                                    </div>
                                                {% endfor %}
                                                <input type="hidden" name="journal_note_pk" value="{{ journalnote.pk }}">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success">Сохранить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% block scripts %}
        {#    <script>#}
        {#        $("#id_grade").change(function(){#}
        {#            console.log($('#id_grade option:selected').length)#}
        {#console.log($(this).children(":selected").length)#}
        {#        })#}
        {##}
        {##}
        {#    </script>#}
    {% endblock %}

{% endblock %}
