{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered schedule">
        <h1>Расписание</h1>
        <thead>
        <tr>
          <th scope="col"></th>
          {% for object in object_list %}
            <th scope="col">{{ object.date }}</th>
          {% endfor %}
        </tr>
      </thead>
        <tbody>
        <tr>
          <th scope="row">
          {% for group in groups %}
            {% for students in group.students.all %}
                <p>{{ students }}</p>
            {% endfor %}
        {% endfor %}
          </th>
    <td>
    {% for object in object_list %}
        {{ object.student }}
{#      <a class="schedule-link" href="{% url 'webapp:schedule_update' schedule.pk %}">#}
{#            <p class="my-0">{{ object.date   }}</p>#}
{#            <p class="my-0">{{ object.discipline }}</p>#}
{#            <p class="my-0">{{ object.theme }}</p>#}
            <p class="my-0">{{ object.grade }}</p>
    {% endfor %}
{#      <a href="{% url 'webapp:schedule_delete' schedule.pk %}">Очистить</a>#}
  </td>

{#              {% if schedule.day == 'Monday' %}#}
{#                  <td>#}
{#                      <a class="schedule-link" href="{% url 'webapp:schedule_update' schedule.pk %}">#}
{#                          <h5>{{ schedule.group }}{{ schedule.lesson }}</h5>#}
{#                          <p class="my-0">{{ schedule.teacher }}</p>#}
{#                          <p class="my-0">{{ schedule.discipline }}</p>#}
{#                          <p class="my-0">{{ schedule.auditoriya }}</p>#}
{#                      </a>#}
{#                      <a href="{% url 'webapp:schedule_delete' schedule.pk %}">Очистить</a>#}
{#                  </td>#}
{#              {% endif %}#}
{#          {% endfor %}#}
{#            {% for group in groups %}#}
{#                  <td>#}
{#                    {% if g != "" %}#}
{#                      <a class="schedule-link" href="{% url 'webapp:schedule_update' schedule.pk %}">#}
{#                          <h5>{{ schedule.group }}{{ schedule.lesson }}</h5>#}
{#                          <p class="my-0">{{ schedule.teacher }}</p>#}
{#                          <p class="my-0">{{ schedule.discipline }}</p>#}
{#                          <p class="my-0">{{ schedule.auditoriya }}</p>#}
{#                      </a>#}
{#                      <a href="{% url 'webapp:schedule_delete' schedule.pk %}">Очистить</a>#}
{#                  {% endif %}#}
{#                  </td>#}
{#          {% endfor %}#}
{#        </tr>#}
{#        <tr>#}
{% endblock %}

{#{% block content %}#}
{#    <h1 style="padding-top: 20px">Журнал</h1>#}
{#    <p>{% for group in groups %}</p>#}
{#        <p>{{ group }}</p>#}
{#        {% for students in group.students.all %}#}
{#            {{ students }}#}
{#                {% for object in object_list %}#}
{#    <div class="object">#}
{#        <div class="row my-5">#}
{#            <div class="left col-8 justify-content-center">#}
{#                <p>{{ object.date }}</p>#}
{#                <p>{{ object.theme }}</p>#}
{#                <p>{{ object.grade }}</p>#}
{#            </div>#}
{#            <div class="right col-4 d-flex justify-content-end">#}
{#                <p class="mr-5"><a href="{% url 'webapp:change_journal' object.pk %}" class="update">Редактироать</a></p>#}
{#                <p class="mr-3"><a href="{% url 'webapp:delete_journal' object.pk %}" class="delete">Удалить</a></p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
{#            <form action="{% url 'webapp:grade_student_add' students.pk %}" method="POST" id="add_grade">#}
{#                {% include 'partial/form.html' with button_text='Добавить Оценку' %}#}
{#            </form>#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{##}
{#        {% include 'partial/pagination.html' %}#}
{#{% endblock %}#}