{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
    <h1>Журнал</h1>
    <form method="GET">
        {{ filter.form }}
        <input type="submit" />
    </form>
{#    {% for group in groups.filter %}#}
{#        {{ group }}#}
{#        {% for student in group.students.all %}#}
{#            <p>{{ student }}</p>#}
{#            <a href="{% url 'webapp:grade_student_add' student.pk%}" class="btn btn-outline-primary  ml-5 mt-3">Создать запись в журнале</a>#}
            {% render_table table %}
{#        {% endfor %}#}
{#    {% endfor %}#}
{% endblock %}