<hr/>
{% for list in object_list %}
    Имя: <h2>{{ list.user.first_name }}</h2>
    <p>{{ list.last_name }}
{#        ({{ article.category|default_if_none:'Без категории' }})#}
{#        {{  }}#}
        Registered {{ list.user.date_joined|date:'d.m.Y H:i:s' }}</p>
{#    {% include 'partial/tag_bar.html' with object=article %}#}
    <p>
        <a href="{% url 'accounts:user_detail' list.user.pk %}">Detail...</a>
        <a href="{% url 'accounts:user_update' list.user.pk %}">Edit</a>
{#        <a href="{% url "accounts:user_delete" list.user.pk %}">Delete</a>#}
    </p>
    <hr/>
{% endfor %}