{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table">
            <h1>Дисциплины</h1>
            <a href="{% url 'webapp:add_discipline' %}" class="btn btn-success  m-4 hiddenbutton">+ Добавить дисциплину</a>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Преподаватель</th>
                    <th class="symbol hiddenbutton" scope="col">Редактировать</th>
                    <th class="symbol hiddenbutton" scope="col">Удалить</th>
                </tr>
            </thead>
            {% for discipline in disciplines %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ discipline.name }}</td>
                        {% for teacher in discipline.teacher.all %}
                            <td>{{ teacher}}</td>
                        {% endfor %}
                        <td class="symbol"><a href="{% url 'webapp:change_discipline' discipline.pk %}" id="update" class="update hiddenbutton">&#x270E;</a></td>
                        <td class="symbol"><a href="{%  url 'webapp:delete_discipline' discipline.pk %}" id="delete" style="color: red" class="delete hiddenbutton">x</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}