{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered schedule">
        <h1>Расписание</h1>
        {% for group in groups %}
            <h4>Группа - {{ group.name }}</h4>
        {% endfor %}
        {% if teacher %}
            <h4>Преподаватель: {{ teacher.get }}</h4>
        {% endif %}
        <thead>
        <tr>
            <th scope="col" class="schedule-days"></th>
            {% for lesson in lessons %}
                <th scope="col" class="schedule-block">
                    <p>{{ lesson.name }} пара</p>
                    <p>{{ lesson.start_time|time:"H:i" }}-{{ lesson.end_time|time:"H:i" }}</p>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for day, event in weekdays.items %}
            <tr>
                <th scope="row" class="schedule-days">{{ day }}</th>
                {% for items in event %}
                    <td>
                        {% for item in items %}
                            <a class="schedule-link" href="{% url 'webapp:schedule_update' item.pk %}">
                            {% if request.user == item.teacher %}
                                <h5>Группа:{{ item.group }}</h5>
                                <p class="my-0">{{ item.auditoriya }}</p>
                                <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>
                            {% elif item.group in groups %}
                                <h5>Группа:{{ item.group }}</h5>
                                <p class="my-0">{{ item.teacher.get_full_name }}</p>
                                <p class="my-0">{{ item.discipline }}</p>
                                <p class="my-0">{{ item.auditoriya }}</p>
                                <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>
                                <hr style="border-color: rgb(66 66 66)">
                            {% endif %}
                            </a>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

{#старая версия#}
        {#        {% for day in days %}#}
        {#            <tr>#}
        {#                <th scope="row" class="schedule-days">{{ day.1 }}</th>#}
        {#                {% for schedule in weekdays%}#}
        {#                    <p>yes</p>{{ schedule }}#}
        {#                    <td>#}
        {#                        {% if schedule %}#}
        {#                            {% for item in schedule %}#}
        {#                                <a class="schedule-link" href="{% url 'webapp:schedule_update' item.pk %}">#}
        {#                                    {% if request.user == item.teacher %}#}
        {#                                        <h5>Группа:{{ item.group }}</h5>#}
        {#                                        <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                    {% elif item.group in groups %}#}
        {#                                        <h5>Группа:{{ item.group }}</h5>#}
        {#                                        {% if self.request.user in groups %}#}
        {#                                            <p class="my-0">{{ item.teacher.get_full_name }}</p>#}
        {#                                        {% endif %}#}
        {#                                        <p class="my-0">{{ item.discipline }}</p>#}
        {#                                        <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                        <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>#}
        {#                                        <hr style="border-color: rgb(66 66 66)">#}
        {#                                    {% endif %}#}
        {#                                </a>#}
        {#                            {% endfor %}#}
        {#                        {% endif %}#}
        {#                    </td>#}
        {#                {% endfor %}#}
        {#            </tr>#}
        {#        {% endfor %}#}
        {#        <tr>#}
        {#            <th scope="row" class="schedule-days">Понедельник</th>#}
        {#            {% for schedule in monday%}#}
        {#                <td>#}
        {#                    {% if schedule %}#}
        {#                        {% for item in schedule %}#}
        {#                            <a class="schedule-link" href="{% url 'webapp:schedule_update' item.pk %}">#}
        {#                                {% if request.user == item.teacher %}#}
        {#                                    <h5>Группа:{{ item.group }}</h5>#}
        {#                                    <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                {% elif item.group in groups %}#}
        {#                                    <h5>Группа:{{ item.group }}</h5>#}
        {#                                    {% if self.request.user in groups %}#}
        {#                                        <p class="my-0">{{ item.teacher.get_full_name }}</p>#}
        {#                                    {% endif %}#}
        {#                                    <p class="my-0">{{ item.discipline }}</p>#}
        {#                                    <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                    <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>#}
        {#                                    <hr style="border-color: rgb(66 66 66)">#}
        {#                                {% endif %}#}
        {#                            </a>#}
        {#                        {% endfor %}#}
        {#                    {% endif %}#}
        {#                </td>#}
        {#            {% endfor %}#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="row" class="schedule-days">Вторник</th>#}
        {#            {% for schedule in tuesday %}#}
        {#                <td>#}
        {#                    {% if schedule %}#}
        {#                        {% for item in schedule %}#}
        {#                            {% if item.group in groups or item.teacher in teachers %}#}
        {#                                <a class="schedule-link" href="{% url 'webapp:schedule_update' item.pk %}">#}
        {#                                    <h5>Группа:{{ item.group }}</h5>#}
        {#                                    {% if self.request.user in groups %}#}
        {#                                        <p class="my-0">{{ item.teacher.get_full_name }}</p>#}
        {#                                    {% endif %}#}
        {#                                    <p class="my-0">{{ item.discipline }}</p>#}
        {#                                    <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                </a>#}
        {#                                <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>#}
        {#                                <hr style="border-color: rgb(66 66 66)">#}
        {#                            {% endif %}#}
        {#                        {% endfor %}#}
        {#                    {% endif %}#}
        {#            {% endfor %}#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="row" class="schedule-days">Среда</th>#}
        {#            {% for schedule in wednesday %}#}
        {#                <td>#}
        {#                    {% if schedule %}#}
        {#                        {% for item in schedule %}#}
        {#                            {% if item.group in groups or item.teacher in teachers %}#}
        {#                                <a class="schedule-link" href="{% url 'webapp:schedule_update' item.pk %}">#}
        {#                                    <h5>Группа:{{ item.group }}</h5>#}
        {#                                    {% if self.request.user in groups %}#}
        {#                                        <p class="my-0">{{ item.teacher.get_full_name }}</p>#}
        {#                                    {% endif %}#}
        {#                                    <p class="my-0">{{ item.discipline }}</p>#}
        {#                                    <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                </a>#}
        {#                                <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>#}
        {#                                <hr style="border-color: rgb(66 66 66)">#}
        {#                            {% endif %}#}
        {#                        {% endfor %}#}
        {#                    {% endif %}#}
        {#            {% endfor %}#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="row" class="schedule-days">Четверг</th>#}
        {#            {% for schedule in thursday %}#}
        {#                <td>#}
        {#                    {% if schedule %}#}
        {#                        {% for item in schedule %}#}
        {#                            {% if item.group in groups or item.teacher in teachers %}#}
        {#                                <a class="schedule-link" href="{% url 'webapp:schedule_update' item.pk %}">#}
        {#                                    <h5>Группа:{{ item.group }}</h5>#}
        {#                                    {% if self.request.user in groups %}#}
        {#                                        <p class="my-0">{{ item.teacher.get_full_name }}</p>#}
        {#                                    {% endif %}#}
        {#                                    <p class="my-0">{{ item.discipline }}</p>#}
        {#                                    <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                </a>#}
        {#                                <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>#}
        {#                                <hr style="border-color: rgb(66 66 66)">#}
        {#                            {% endif %}#}
        {#                        {% endfor %}#}
        {#                    {% endif %}#}
        {#            {% endfor %}#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="row" class="schedule-days">Пятница</th>#}
        {#            {% for schedule in friday %}#}
        {#                <td>#}
        {#                    {% if schedule %}#}
        {#                        {% for item in schedule %}#}
        {#                            {% if item.group in groups or item.teacher in teachers %}#}
        {#                                <a class="schedule-link" href="{% url 'webapp:schedule_update' item.pk %}">#}
        {#                                    <h5>Группа:{{ item.group }}</h5>#}
        {#                                    {% if self.request.user in groups %}#}
        {#                                        <p class="my-0">{{ item.teacher.get_full_name }}</p>#}
        {#                                    {% endif %}#}
        {#                                    <p class="my-0">{{ item.discipline }}</p>#}
        {#                                    <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                </a>#}
        {#                                <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>#}
        {#                                <hr style="border-color: rgb(66 66 66)">#}
        {#                            {% endif %}#}
        {#                        {% endfor %}#}
        {#                    {% endif %}#}
        {#            {% endfor %}#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="col" class="schedule-days"></th>#}
        {#            {% for lesson in lessons %}#}
        {#                <th scope="col" class="schedule-block">#}
        {#                    <p>{{ lesson.name }} пара</p>#}
        {#                    <p>{{ lesson.start_time|time:"H:i" }}-{{ lesson.end_time|time:"H:i" }}</p>#}
        {#                </th>#}
        {#            {% endfor %}#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="row" class="schedule-days">Суббота</th>#}
        {#            {% for schedule in saturday %}#}
        {#                <td>#}
        {#                    {% if schedule %}#}
        {#                        {% for item in schedule %}#}
        {#                            {% if item.group in groups or item.teacher in teachers %}#}
        {#                                <a class="schedule-link" href="{% url 'webapp:schedule_update' item.pk %}">#}
        {#                                    <h5>Группа:{{ item.group }}</h5>#}
        {#                                    {% if self.request.user in groups %}#}
        {#                                        <p class="my-0">{{ item.teacher.get_full_name }}</p>#}
        {#                                    {% endif %}#}
        {#                                    <p class="my-0">{{ item.discipline }}</p>#}
        {#                                    <p class="my-0">{{ item.auditoriya }}</p>#}
        {#                                </a>#}
        {#                                <a href="{% url 'webapp:schedule_delete' item.pk %}">Очистить</a>#}
        {#                                <hr style="border-color: rgb(66 66 66)">#}
        {#                            {% endif %}#}
        {#                        {% endfor %}#}
        {#                    {% endif %}#}
        {#            {% endfor %}#}
        {#        </tr>#}
        </tbody>
    </table>
    <a href="{% url 'webapp:schedule_add' %}" class="btn btn-outline-primary  ml-5 mt-3">Добавить в расписание</a>
{% endblock %}