{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="row">
        <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
            <h1 class="text-center mt-5 pt-5">Вход</h1>
            <form action="{% url 'accounts:login' %}?next={{ next }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% if form.non_field_errors %}
                    <p class="text-danger">Неверное имя пользователя или пароль.</p>
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Имя пользователя:</label>
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Пароль:</label>
                    {{ form.password|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
    </div>

{% endblock %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
