{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'accounts:change_group' object.pk %}" class="hiddenbutton">Обновить</a></li>
    <li><a href="{% url 'accounts:delete_group' object.pk %}" class="hiddenbutton">Удалить</a></li>
{% endblock %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <p>создана {{ group.started_at|date:'d.m.Y' }}</p>
    <hr>
    <div class="pre" style="margin-top: 20px">Староста: {{ group.group_leader }}</div>
    <div class="pre" style="margin-top: 5px">Куратор: {{ group.head_teaher }}</div>
    <hr>
    <div class="pre" style="margin-top: 5px"> Студенты:</div>
    {% for student in group.students.all %}
        <p style="margin-top: 10px">{{ student }}</p>
    {% endfor %}
{% endblock %}
