
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block menu %}
    <p><a href="{% url 'accounts:add_group'%}" class="add">Создать</a></p>
{% endblock %}
{% block content %}
    <h1 style="padding-top: 20px">Группы</h1>
    {% for object in object_list %}
    <div class="object">
        <div class="row my-5">
            <div class="left col-8 justify-content-center">
                <h5>{{ object.pk }}.{{ object.name }}</h5>
            </div>
            <div class="right col-4 d-flex justify-content-end">
                <p class="mr-5"><a href="{% url 'accounts:change_group' object.pk %}" class="update">Редактироать</a></p>
                <p class="mr-3"><a href="{% url 'accounts:delete_group' object.pk %}" class="delete">Удалить</a></p>
            </div>
            <div>
                <p class="mr-3"><a href="{% url 'accounts:detail_group' object.pk %}" class="delete">Подробнее</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
        {% include 'partial/pagination.html' %}
{% endblock %}